---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

const industries: CollectionEntry<'industries'>[] = (
  await getCollection('industries')
).sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<section class="bg-deep py-16 lg:py-24">
  <div class="bg container mx-auto px-4 lg:px-8">
    <div
      class="relative grid grid-cols-1 items-center gap-12 lg:grid-cols-2 lg:gap-16"
    >
      <div class="space-y-6">
        <div
          class="bg-dark mx-auto flex w-40 flex-col items-center justify-center border-b-2 border-l-2 border-white px-8 py-2 md:mx-0"
        >
          <span class="font-supporting text-sm font-bold text-white uppercase">
            INDUSTRIES
          </span>
        </div>

        <h2
          class="mb-4 text-center text-4xl leading-tight font-bold text-white md:text-left lg:text-5xl"
        >
          Industries We Serve
        </h2>
        <p
          class="text-center text-lg leading-relaxed text-white/80 md:text-left"
        >
          Specialized expertise across key business sectors.
        </p>
      </div>

      <!-- right column  -->
      <!-- Mobile: 2-column grid -->
      <div class="flex flex-wrap justify-center gap-4 xl:hidden">
        {
          industries.map((industry, index) => (
            <a
              href={`/industries/${industry.id}`}
              class="flex h-[140px] w-[calc(50%-0.5rem)] flex-col items-center justify-center border border-white text-center transition-colors hover:bg-white/10"
            >
              <div class="mb-3">
                <Image
                  src={industry.data.icon}
                  alt={industry.data.name}
                  width={60}
                  height={60}
                  class="h-15 w-15 object-contain"
                />
              </div>
              <p class="text-sm font-medium text-white">{industry.data.name}</p>
            </a>
          ))
        }
      </div>

      <!-- Large screen: Floating layout -->
      <div class="relative hidden min-h-[600px] w-full xl:block">
        {
          industries.map((industry, index) => (
            <a
              href={`/industries/${industry.id}`}
              class={`absolute flex h-[200px] w-[200px] flex-col items-center justify-center border border-white text-center transition-colors hover:bg-white/10 ${industry.data.position}`}
            >
              <div class="mb-5">
                <Image
                  src={industry.data.icon}
                  alt={industry.data.name}
                  width={80}
                  height={80}
                  class="h-20 w-20 object-contain"
                />
              </div>
              <p class="text-base font-medium text-white">
                {industry.data.name}
              </p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
